@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color :inherit;
}

h1 {
	margin: 30px auto;
	text-align: center;
	color: #501b3a;
}

p {
	text-align: center;
}

table {
	margin: 30px auto;
	border-collapse: collapse;
	width: 60% ;
}

tr, td {
	padding: 10px;
	text-align: center;
}

textarea {
	width: 50%;
	border: 1px solid #d5819b;
	padding: 3px;
}

td.td_input {
	text-align: left;
	
}

form {
	background-color: #fff2f4;
}

input {
	border: 1px solid #d5819b;
	padding: 3px;
}

button {
	background-color: white;
	border: 1px solid #d5819b;
	padding: 3px;
	color: #d5819b;
	font-weight: bolder;
	border-radius: 3px;
	width: 60%;
}

button:hover {
	cursor: pointer;
	color: teal;
}

#tb_list td, #tb_list tr {
	border-top: 1px solid #f3f3f3;
}

#tb_list tr:nth-child(even) {
	background-color: #f3f3f3;
}

#tb_list tr:hover {
	background-color: #F0FAF7;
	cursor: pointer;
}
nav {
	background-color: #F0FAF7;
	margin: 10px;
	list-style-type: none;
	text-align: center;
}

ul {
	align-content: center;
	display: inline-block;
}

li {
	display: inline-block;
	padding: 10px ;
}

li:hover {
	background-color: #fff;
	cursor: pointer;
}

form.tb_one {
	background-color: #fff2f4;
}

form.tb_one button {
	width : 20%;
}